[req]
prompt             = no
distinguished_name = req_distinguished_name
x509_extensions    = req_ext # openssl req -x509

[req_distinguished_name]
commonName = pi-hole.home

[req_ext]
subjectAltName = @req_ext_subjectAltName

[req_ext_subjectAltName]
DNS.1 = pi-hole.home
DNS.2 = *.pi-hole.home
IP.1  = 192.168.0.2
